* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/background.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
