* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/background.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
  background-color: white;
  transition: 0.3s;
}

.button {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #ee5a24 0%, #ed4c67 25%, #b53471 100%);
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 20px;
  text-decoration: none;
  box-shadow: 0;
  transition: box-shadow 0.25s ease-in-out;
}
.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.25s ease-in-out;
}
.button:active {
  position: relative;
  transition: 1s ease-in-out;
  top: 1px;
}
