.main-container {
  width: 100vw;
  height: 100vh;
  background-color: red;
  /* background-image: url('../images/mic-back.jpg'); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
